/*=============================================>>>>>
= Icon Helper (for use with IcoMoon or other icon fonts) =
===============================================>>>>>*/

@mixin icon($icon) {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zondicon' !important;
  content: $icon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// $icon-${name} see collection here:
// http://www.zondicons.com/icons.html

$icon-zoom-out: "\e900";
$icon-zoom-in: "\e901";
$icon-yin-yang: "\e902";
$icon-wrench: "\e903";
$icon-window: "\e904";
$icon-window-open: "\e905";
$icon-window-new: "\e906";
$icon-watch: "\e907";
$icon-wallet: "\e908";
$icon-volume-up: "\e909";
$icon-volume-off: "\e90a";
$icon-volume-mute: "\e90b";
$icon-volume-down: "\e90c";
$icon-view-tile: "\e90d";
$icon-view-show: "\e90e";
$icon-view-list: "\e90f";
$icon-view-hide: "\e910";
$icon-view-column: "\e911";
$icon-view-carousel: "\e912";
$icon-video-camera: "\e913";
$icon-vector: "\e914";
$icon-user: "\e915";
$icon-user-solid-square: "\e916";
$icon-user-solid-circle: "\e917";
$icon-user-group: "\e918";
$icon-user-add: "\e919";
$icon-usb: "\e91a";
$icon-upload: "\e91b";
$icon-tuning: "\e91c";
$icon-trophy: "\e91d";
$icon-travel: "\e91e";
$icon-travel-walk: "\e91f";
$icon-travel-train: "\e920";
$icon-travel-taxi-cab: "\e921";
$icon-travel-case: "\e922";
$icon-travel-car: "\e923";
$icon-travel-bus: "\e924";
$icon-trash: "\e925";
$icon-translate: "\e926";
$icon-tools-copy: "\e927";
$icon-timer: "\e928";
$icon-time: "\e929";
$icon-ticket: "\e92a";
$icon-thumbs-up: "\e92b";
$icon-thumbs-down: "\e92c";
$icon-thermometer: "\e92d";
$icon-text-decoration: "\e92e";
$icon-text-box: "\e92f";
$icon-target: "\e930";
$icon-tag: "\e931";
$icon-tablet: "\e932";
$icon-swap: "\e933";
$icon-subdirectory-right: "\e934";
$icon-subdirectory-left: "\e935";
$icon-stroke-width: "\e936";
$icon-store-front: "\e937";
$icon-stethoscope: "\e938";
$icon-step-forward: "\e939";
$icon-step-backward: "\e93a";
$icon-station: "\e93b";
$icon-star-full: "\e93c";
$icon-stand-by: "\e93d";
$icon-shuffle: "\e93e";
$icon-show-sidebar: "\e93f";
$icon-shopping-cart: "\e940";
$icon-shield: "\e941";
$icon-share: "\e942";
$icon-share-alt: "\e943";
$icon-share-01: "\e944";
$icon-servers: "\e945";
$icon-send: "\e946";
$icon-search: "\e947";
$icon-screen-full: "\e948";
$icon-save-disk: "\e949";
$icon-repost: "\e94a";
$icon-reply: "\e94b";
$icon-reply-all: "\e94c";
$icon-reload: "\e94d";
$icon-refresh: "\e94e";
$icon-radio: "\e94f";
$icon-radar: "\e950";
$icon-radar-copy-2: "\e951";
$icon-queue: "\e952";
$icon-question: "\e953";
$icon-pylon: "\e954";
$icon-printer: "\e955";
$icon-portfolio: "\e956";
$icon-plugin: "\e957";
$icon-playlist: "\e958";
$icon-play: "\e959";
$icon-play-outline: "\e95a";
$icon-pin: "\e95b";
$icon-php-elephant: "\e95c";
$icon-photo: "\e95d";
$icon-phone: "\e95e";
$icon-pen-tool: "\e95f";
$icon-pause: "\e960";
$icon-pause-solid: "\e961";
$icon-pause-outline: "\e962";
$icon-paste: "\e963";
$icon-notifications: "\e964";
$icon-notifications-outline: "\e965";
$icon-notification: "\e966";
$icon-news-paper: "\e967";
$icon-network: "\e968";
$icon-navigation-more: "\e969";
$icon-music-playlist: "\e96a";
$icon-music-notes: "\e96b";
$icon-music-artist: "\e96c";
$icon-music-album: "\e96d";
$icon-mouse: "\e96e";
$icon-mood-sad-solid: "\e96f";
$icon-mood-sad-outline: "\e970";
$icon-mood-neutral-solid: "\e971";
$icon-mood-neutral-outline: "\e972";
$icon-mood-happy-solid: "\e973";
$icon-mood-happy-outline: "\e974";
$icon-mobile-devices: "\e975";
$icon-minus-solid: "\e976";
$icon-minus-outline: "\e977";
$icon-mic: "\e978";
$icon-menu: "\e979";
$icon-map: "\e97a";
$icon-lock-open: "\e97b";
$icon-lock-closed: "\e97c";
$icon-location: "\e97d";
$icon-location-shopping: "\e97e";
$icon-location-restroom: "\e97f";
$icon-location-park: "\e980";
$icon-location-marina: "\e981";
$icon-location-hotel: "\e982";
$icon-location-gas-station: "\e983";
$icon-location-food: "\e984";
$icon-location-current: "\e985";
$icon-load-balancer: "\e986";
$icon-list: "\e987";
$icon-list-bullet: "\e988";
$icon-list-add: "\e989";
$icon-link: "\e98a";
$icon-light-bulb: "\e98b";
$icon-library: "\e98c";
$icon-layers: "\e98d";
$icon-keyboard: "\e98e";
$icon-key: "\e98f";
$icon-information-solid: "\e990";
$icon-information-outline: "\e991";
$icon-indent-increase: "\e992";
$icon-indent-decrease: "\e993";
$icon-inbox: "\e994";
$icon-inbox-full: "\e995";
$icon-inbox-download: "\e996";
$icon-inbox-check: "\e997";
$icon-hour-glass: "\e998";
$icon-hot: "\e999";
$icon-home: "\e99a";
$icon-heart: "\e99b";
$icon-headphones: "\e99c";
$icon-hard-drive: "\e99d";
$icon-hand-stop: "\e99e";
$icon-globe: "\e99f";
$icon-gift: "\e9a0";
$icon-forward: "\e9a1";
$icon-forward-step: "\e9a2";
$icon-format-underline: "\e9a3";
$icon-format-text-size: "\e9a4";
$icon-format-italic: "\e9a5";
$icon-format-font-size: "\e9a6";
$icon-format-bold: "\e9a7";
$icon-folder: "\e9a8";
$icon-folder-outline: "\e9a9";
$icon-folder-outline-add: "\e9aa";
$icon-flashlight: "\e9ab";
$icon-flag: "\e9ac";
$icon-filter: "\e9ad";
$icon-film: "\e9ae";
$icon-fast-rewind: "\e9af";
$icon-fast-forward: "\e9b0";
$icon-factory: "\e9b1";
$icon-explore: "\e9b2";
$icon-exclamation-solid: "\e9b3";
$icon-exclamation-outline: "\e9b4";
$icon-envelope: "\e9b5";
$icon-education: "\e9b6";
$icon-edit-pencil: "\e9b7";
$icon-edit-cut: "\e9b8";
$icon-edit-crop: "\e9b9";
$icon-edit-copy: "\e9ba";
$icon-duplicate: "\e9bb";
$icon-download: "\e9bc";
$icon-dots-horizontal-triple: "\e9bd";
$icon-dots-horizontal-double: "\e9be";
$icon-document: "\e9bf";
$icon-document-add: "\e9c0";
$icon-directions: "\e9c1";
$icon-dial-pad: "\e9c2";
$icon-date-add: "\e9c3";
$icon-dashboard: "\e9c4";
$icon-currency-dollar: "\e9c5";
$icon-credit-card: "\e9c6";
$icon-copy: "\e9c7";
$icon-conversation: "\e9c8";
$icon-computer-laptop: "\e9c9";
$icon-computer-desktop: "\e9ca";
$icon-compose: "\e9cb";
$icon-color-palette: "\e9cc";
$icon-cog: "\e9cd";
$icon-coffee: "\e9ce";
$icon-code: "\e9cf";
$icon-cloud: "\e9d0";
$icon-cloud-upload: "\e9d1";
$icon-close: "\e9d2";
$icon-close-solid: "\e9d3";
$icon-close-outline: "\e9d4";
$icon-clipboard: "\e9d5";
$icon-cheveron-up: "\e9d6";
$icon-cheveron-right: "\e9d7";
$icon-cheveron-outline-up: "\e9d8";
$icon-cheveron-outline-right: "\e9d9";
$icon-cheveron-outline-left: "\e9da";
$icon-cheveron-outline-down: "\e9db";
$icon-cheveron-left: "\e9dc";
$icon-cheveron-down: "\e9dd";
$icon-checkmark: "\e9de";
$icon-checkmark-outline: "\e9df";
$icon-chat-bubble-dots: "\e9e0";
$icon-chart: "\e9e1";
$icon-chart-pie: "\e9e2";
$icon-chart-bar: "\e9e3";
$icon-camera: "\e9e4";
$icon-calendar: "\e9e5";
$icon-calculator: "\e9e6";
$icon-buoy: "\e9e7";
$icon-bug: "\e9e8";
$icon-browser-window: "\e9e9";
$icon-browser-window-open: "\e9ea";
$icon-browser-window-new: "\e9eb";
$icon-brightness-up: "\e9ec";
$icon-brightness-down: "\e9ed";
$icon-box: "\e9ee";
$icon-border-vertical: "\e9ef";
$icon-border-top: "\e9f0";
$icon-border-right: "\e9f1";
$icon-border-outer: "\e9f2";
$icon-border-none: "\e9f3";
$icon-border-left: "\e9f4";
$icon-border-inner: "\e9f5";
$icon-border-horizontal: "\e9f6";
$icon-border-bottom: "\e9f7";
$icon-border-all: "\e9f8";
$icon-bookmark: "\e9f9";
$icon-bookmark-outline: "\e9fa";
$icon-bookmark-outline-add: "\e9fb";
$icon-bookmark-copy-3: "\e9fc";
$icon-bookmark-copy-2: "\e9fd";
$icon-book-reference: "\e9fe";
$icon-bolt: "\e9ff";
$icon-bluetooth: "\ea00";
$icon-block: "\ea01";
$icon-beverage: "\ea02";
$icon-battery-low: "\ea03";
$icon-battery-half: "\ea04";
$icon-battery-full: "\ea05";
$icon-badge: "\ea06";
$icon-backward: "\ea07";
$icon-backward-step: "\ea08";
$icon-backspace: "\ea09";
$icon-attachment: "\ea0a";
$icon-at-symbol: "\ea0b";
$icon-artist: "\ea0c";
$icon-arrow-up: "\ea0d";
$icon-arrow-thin-up: "\ea0e";
$icon-arrow-thin-right: "\ea0f";
$icon-arrow-thin-left: "\ea10";
$icon-arrow-thin-down: "\ea11";
$icon-arrow-thick-up: "\ea12";
$icon-arrow-thick-right: "\ea13";
$icon-arrow-thick-left: "\ea14";
$icon-arrow-thick-down: "\ea15";
$icon-arrow-right: "\ea16";
$icon-arrow-outline-up: "\ea17";
$icon-arrow-outline-right: "\ea18";
$icon-arrow-outline-left: "\ea19";
$icon-arrow-outline-down: "\ea1a";
$icon-arrow-left: "\ea1b";
$icon-arrow-down: "\ea1c";
$icon-apparel: "\ea1d";
$icon-announcement: "\ea1e";
$icon-anchor: "\ea1f";
$icon-align-right: "\ea20";
$icon-align-left: "\ea21";
$icon-align-justified: "\ea22";
$icon-align-center: "\ea23";
$icon-album: "\ea24";
$icon-airplane: "\ea25";
$icon-adjust: "\ea26";
$icon-add-solid: "\ea27";
$icon-add-outline: "\ea28";

.icon-star {
  &:before {
    @include icon($icon-star-full);
  }
}
.icon-library {
  &:before {
    @include icon($icon-library);
  }
}
.icon-scholar-hat {
  &:before {
    @include icon($icon-education);
  }
}
.icon-award-badge {
  &:before {
    @include icon($icon-badge);
  }
}
