$buttons: (
  white: $white,
  black: $black,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  highlight: $highlight
);

.button {
  @include heading-font();
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 3px;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  &.large {
    font-size: 15px;
  }
  &:hover {
    background: darken($primary, 5%);
    border-color: darken($primary, 5%);
    text-decoration: none;
  }
  @each $name, $color in $buttons {
    &.#{$name} {
      background: $color;
      border-color: $color;
      &:hover {
        background: darken($color, 5%);
        border-color: darken($color, 5%);
      }
    }
  }
  &.outline {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}
