/*=============================================>>>>>
= App Styles =
===============================================>>>>>*/
body {
  background: $white;
  color: $textcolor;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  @include media-down(small-mobile) {
    padding: 0 10px;
  }
}

.buttons {
  display: flex;
  .button {
    margin: 10px 10px 0 0!important;
  }
}

$buttons: ("white": $white, "black": $black, primary: $primary, secondary: $secondary);

.button {
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 3px;
  padding: 6px 25px;
  font-size: 13px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  &:hover {
    background: $secondary;
    border-color: $secondary;
    text-decoration: none;
  }
  @each $name, $color in $buttons {
    &.#{$name} {
      background: $color;
      border-color: $color;
      &:hover {
        background: darken($color, 5%);
        border-color: darken($color, 5%);
      }
    }
  }
  &.outline {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}
